body{
  background-color:#1d3872de;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #0f2233;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.loginpage{
margin:10% 10%;
}


.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #054b86;
}


.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}



.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 80%; 
}


.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

@media screen and (max-width:950px){
  .loginpage{
  margin:15% 6%;
}
}
@media screen and (max-width:630px){
  .loginpage{
  margin:22% 4%;
}
}
@media screen and (max-width:450px){
  .loginpage{
  margin:25% 2%;
}
}
@keyframes show {
  0% {
    opacity:.1;}
    
  100%{
    opacity:0;
  } 
}
.popuptext{
  display: none;
}
.popup .show{
  visibility: visible;
  animation: show 1s;
}

 .signupt{
  font-weight:600;
  font-size: 22px;
  margin: 0 0 5px;
  color:#012053;
  text-align:center;
}

